html,

*{
    margin: 0;
    padding: 0;
}
body {
    width: 100%;
    height: 100%;
}

li{
    text-decoration: none;
}
nav{
    display: flex;
    background-color: rgb(114, 130, 130);
    padding: 10px;
}